<div class="pokedex-screen">
  <img *ngIf="error" src="/assets/error.gif" alt="Hubo un error buscando tu pokemon" class="pokedex-no-screen"/>

  <img *ngIf="loading && !error;" src="/assets/loading.gif" alt="Aun no hay ningun pokemon" class="pokedex-no-screen"/>

  <div class="pokemon-info" *ngIf="pokemon && !loading && !error">
    <h2 class="pokemon-name">{{pokemon.name}}</h2>
    <img class="pokemon-img" [src]="booleanShiny ? pokemon.sprites.front_shiny : pokemon.sprites.front_default" alt={pokemon.name}} />
    <ul class="pokemon-stats">
      <app-stat class="pokemon-stat" *ngFor="let item of pokemon.stats;" [item]="item"></app-stat>
    </ul>
  </div>
</div>
